/ The header of every page.
%header
  / The logo of the web application which is also a link to the home page.
  %a{t('href') => t('/'), t('id') => t('logo')}= t('app_title')
  / The navigation bar which is a list of links.
  / https://www.w3schools.com/css/css_navbar.asp used to create a navigation bar.

  - if customer_signed_in?
    = "#{current_customer.email} " + t('|')
    = link_to t('profile'), edit_customer_registration_path
    = t('|')
    = link_to t('logout'), destroy_customer_session_path, method: t('delete')
    = t('|')
    - if current_customer.basket
      = link_to t('basket'), basket_path(current_customer.basket.id)
    - else
      = link_to t('basket'), baskets_path(params: { basket: { total_cost: 0, customer_id: current_customer.id } }), method: :post
    = t('|')
    = link_to t('customer_orders'), orders_path
  - else
    = link_to t('login'), new_customer_session_path
    = t('|')
    = link_to t('sign_up'), new_customer_registration_path

  %ul{t('id') => t('nav_bar')}
    %li
      %a{t('href') => t('games_route')}= t('all_games_link')
    %li
      %a{t('href') => t('nintendo_switch_games_route')}= t('nintendo_switch_games_link')
    %li
      %a{t('href') => t('ps5_games_route')}= t('ps5_games_link')

    %li
      %a{t('href') => t('xbox_series_x_games_route')}= t('xbox_series_x_games_link')
    %li
      %a{t('href') => t('contact_route')}= t('contact')

  / The flash messages which are displayed if the user has filled the contact form.
  - flash.each do |key, value|
    = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? # Outputs the flash message.