/ The welcome message in the home page.
%p= t('.welcome')
%input{'type' => 'color', 'id' => 'color'}
%button{'id' => 'color_button'}= t('.change_color')
%br
%br
%label= t('.font_size')
%select{'id' => "font_size"}
  %option{'value' => t('.small')}= t('.small')
  %option{'value' => t('.medium')}= t('.medium')
  %option{'value' => t('.large')}= t('.large')
%br
%br
%button{'id' => 'font_size_button'}= t('.change_font_size')