%h1= t('.your_orders')

%table
  %thead
    %tr
      %th= t('.order_number')
      %th= t('.total_cost')
      %th= t('.link_to_order')

  %tbody
    - order_number = 0
    - @orders.each do |order|
      - order_number += 1
      %tr
        %td= order_number
        %td= t('.£') + order.total_cost.to_s
        %td= link_to t('.show_order'), order

%h4= t('.average_cost_of_orders') + @average_cost_of_orders.round(2).to_s

%br
