/ Paragraphs which the email contains.
%p= t('dear') + " #{t('app_title')},"
%p= t('could_you_get_in_touch_with_me_please')

%dl
  %dt= t('name_title_in_contact_email')
  %dd= @name # The name of the user.
  %dt= t('email')
  %dd= @email # The email address of the user.
  %dt= t('telephone')
  %dd= @telephone # The telephone number of the user.

%p= @message # The paragraph which is the message that the user sent.

/ The thank you message which the email contains.
%p= t('thanks')
%p= @name # The name of the user.